@page "/demoproduct"
@using Models

<h3>Demo Product</h3>

<div class="row row-cols-2">
    @foreach(var product in Products)
    {
        <div class="col border">
            Product <span>@product.Id</span><br/>
            Name - <span>@product.Name</span><br/>
            Show Properties - <input type="checkbox" @bind="@product.Show" />
            @if(product.Show)
            {
                @foreach(var property in product.Properties)
                {
                    <p>@property.Key - @property.Value</p>
                }
            }
            <br/>
            <input type="button" class="btn btn-danger" style="width: 100px" value="Delete" />
        </div>
    }
</div>

@code {

    public List<Product> Products { get; set; } = new();

    protected override void OnInitialized()
    {
        Products.Add(new Product
            {
                Id = 1,
                Name = "Pepsi",
                Price = 10,
                Active = true,
                Show = true,
                Properties = new List<SelectKeyValue>()
                {
                    new SelectKeyValue{ Id = 1, Key = "Type", Value="Drink"},
                    new SelectKeyValue{ Id = 2, Key = "Size", Value="12oz"},
                    new SelectKeyValue{ Id = 3, Key = "Color", Value="Black"},
                },
            });

        Products.Add(new Product
            {
                Id = 1,
                Name = "Sprite",
                Price = 9,
                Active = true,
                Show = true,
                Properties = new List<SelectKeyValue>()
                {
                    new SelectKeyValue{ Id = 1, Key = "Type", Value="Drink"},
                    new SelectKeyValue{ Id = 2, Key = "Size", Value="12oz"},
                    new SelectKeyValue{ Id = 3, Key = "Color", Value="Clear"},
                },
            });


        base.OnInitialized();
    }

}
